export PGHOSTADDR=127.0.0.1
export PGPORT=5432
export PGUSER=amortsched
export PGPASSWORD=am0rtsch3d
export PGDATABASE=amortsched

export COMPOSE_BAKE=true

[[ -d .venv/bin ]] && source .venv/bin/activate
